.mat-option.home_prim {
    color:#44a75f;
}
.mat-option.home_dv {
    color:#558ecc;
}
.mat-option.home_dvsib {
    color:#7d72b3;
}

.mat-option.dv {
    color:#d861b1;
}
.mat-option.sib {
    color:#ff7731;
}
.mat-option.west {
    color:#ef5656;
}

.mat-checkbox {
    position: relative;
    top: 12px;
}