<h2 mat-dialog-title>Добавить лот</h2>
<mat-dialog-content>
    <form action="#" [formGroup]="reactiveForm">
        <div>
            <mat-form-field class="full_width">
                <input matInput placeholder="Номер лота" maxlength="45" required autocomplete="off" formControlName="number" type="text" name="number">
                <mat-error *ngIf="reactiveForm.controls.name.invalid"></mat-error>
                <mat-hint align="end">{{reactiveForm.controls.number.value?.length || 0}}/45</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full_width">
                <textarea matInput placeholder="Название" rows="3" maxlength="65000" required autocomplete="off" formControlName="name" name="name"></textarea>
                <mat-error *ngIf="reactiveForm.controls.name.invalid"></mat-error>
            </mat-form-field>
        </div>
        <div class="grid">
            <mat-form-field>
                <mat-select placeholder="Регион" formControlName="region" name="region">
                    <mat-option class="home_prim" value="home_prim">Домашний: Приморье</mat-option>
                    <mat-option class="home_dv" value="home_dv">Домашний: ДВ</mat-option>
                    <mat-option class="home_dvsib" value="home_dvsib">Домашний: ДВ + Сиб</mat-option>
                    <mat-option class="dv" value="dv">Чужой: ДВ</mat-option>
                    <mat-option class="sib" value="sib">Чужой: Сиб</mat-option>
                    <mat-option class="west" value="west">Чужой: Запад</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Производитель" formControlName="manufacturer" required name="manufacturer">
                    <mat-option *ngFor="let m of manufacturers" value="{{ m }}">{{ m }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="grid">
            <mat-form-field class="full_width">
                <input matInput placeholder="Заказчик" maxlength="65000" required autocomplete="off" formControlName="customer" type="text" name="customer">
                <mat-error *ngIf="reactiveForm.controls.customer.invalid"></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Этап" formControlName="stage" name="stage">
                    <mat-option [value]="null">Нет</mat-option>
                    <mat-option value="new">Новый</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="grid">
            <mat-form-field>
                <span matPrefix><mat-icon>alarm_on</mat-icon> &nbsp;</span>
                <input matInput formControlName="date_end_auctions" [matDatepicker]="date_end_auctions" placeholder="Дата завершения аукциона"/>
                <mat-datepicker-toggle matSuffix [for]="date_end_auctions"></mat-datepicker-toggle>
                <mat-datepicker #date_end_auctions></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <span matPrefix><mat-icon>insert_chart_outlined</mat-icon> &nbsp;</span>
                <input matInput formControlName="date_review" [matDatepicker]="date_review" placeholder="Дата подведения итогов" />
                <mat-datepicker-toggle matSuffix [for]="date_review"></mat-datepicker-toggle>
                <mat-datepicker #date_review></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full_width">
                <input matInput placeholder="URL аукциона" maxlength="65000" autocomplete="off" formControlName="url" name="url" />
                <mat-error *ngIf="reactiveForm.controls.url.invalid"></mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="reactiveForm.invalid" mat-raised-button color="primary" (click)="Submit()">Добавить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>