@borderColor: #ccc;

.positions {
    background-color: #f7f7f7;

    .title {
        font-size:16px;
        margin-bottom:10px;
    }
    ol {
        display:block;
        margin: 0px;
        padding: 0px;
        min-height: 100px;
        max-height: 220px;
        overflow: auto;

        li {
            display: block;
            padding:2px 10px;
            color:#333;
            font-size:12px;
            border-bottom: 1px @borderColor solid;
            position:relative;
            &:last-child {
                border:none;
            }

            .positions__cell {
                display: grid;
                grid-template-columns: 1fr 60px 90px 100px 100px 50px;
                grid-gap: 10px;
                padding: 10px 0px 0px 0px;
                min-height: 25px;
            }
            .position__edit {
                border:none;
                position: absolute;
                z-index: 2;
                top: -5px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                padding-top:5px;
                background-color: #e6e6e6;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                overflow: hidden;
                form {
                    display:grid;
                    grid-template-columns: 1fr 60px 90px 100px 120px 30px;
                    grid-gap: 10px;
                    padding: 0px 10px;

                    .position__edit__submit {
                        color:#297cb9;
                        position: absolute;
                        top:16px;
                        right:10px;
                    }
                }
            }

            a.update,
            a.delete {
                color: #ababab;
                position: relative;
                top: -5px;
            }

            a.update {
                &:hover {
                    color:#297cb9;
                }
            }

            a.delete {
                &:hover {
                    color:#f44336;
                }
            }
        }
    }
}
div.add {
    display:grid;
    grid-template-columns: 1fr 60px 90px 100px 120px 40px;
    grid-gap: 10px;
    margin-top:40px;
}