<h2 mat-dialog-title>Коммерческое предложение (лот {{ data.number }})</h2>
<mat-dialog-content>
    <form action="#" [formGroup]="reactiveForm">
        <div class="grid">
            <mat-form-field class="full_width">
                <input matInput placeholder="Победитель" maxlength="255" autocomplete="off" formControlName="kp_name" type="text" name="kp_name">
                <mat-error *ngIf="reactiveForm.controls.kp_name.invalid"></mat-error>
            </mat-form-field>
            <mat-form-field class="full_width">
                <input matInput placeholder="Срок поставки" maxlength="255" autocomplete="off" formControlName="kp_delivery_time" type="text" name="kp_delivery_time">
                <mat-error *ngIf="reactiveForm.controls.kp_delivery_time.invalid"></mat-error>
            </mat-form-field>
        </div>
        <div class="grid">
            <mat-form-field class="full_width">
                <input matInput placeholder="Условия поставки" maxlength="255" autocomplete="off" formControlName="kp_delivery_term" type="text" name="kp_delivery_term">
                <mat-error *ngIf="reactiveForm.controls.kp_delivery_term.invalid"></mat-error>
            </mat-form-field>
            <mat-form-field class="full_width">
                <input matInput placeholder="Условия оплаты" maxlength="255" autocomplete="off" formControlName="kp_payment_term" type="text" name="kp_payment_term">
                <mat-error *ngIf="reactiveForm.controls.kp_payment_term.invalid"></mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="positions">
        <ol *ngIf="positions.length > 0; else emptyPositions">
            <li *ngFor="let p of positions">
                <div class="positions__cell">
                    <div>{{ p.name }}</div>
                    <div>{{ p.cnt }} {{ p.unit }}</div>
                    <div>{{ p.price }} &#8381;</div>
                    <div>&sum; <b>{{ (p.cnt * p.price) | number }}</b> &#8381;</div>
                    <div>{{ p.delivery }}</div>
                    <div class="edit">
                        <a href="#" class="update" (click)="ClickEditPosition(p)"><mat-icon>edit</mat-icon></a>
                        <a href="#" class="delete" (click)="ClickDeletePosition(p)"><mat-icon>delete</mat-icon></a>
                    </div>
                </div>
                <div class="position__edit" *ngIf="editPosition==p">
                    <form [formGroup]="reactivePositionUpdate" action="#">
                        <mat-form-field>
                            <input matInput formControlName="name" maxlength="255" autocomplete="off" required type="text" name="name">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="cnt" maxlength="255" autocomplete="off" required type="number" name="cnt">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="unit" maxlength="45" autocomplete="off" required type="text" name="unit">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="price" autocomplete="off" required type="number" name="price">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="delivery" maxlength="45" autocomplete="off" type="text" name="delivery">
                        </mat-form-field>
                        <a href="#" class="position__edit__submit" (click)="SubmitSavePosition()"><mat-icon>save</mat-icon></a>
                    </form>
                </div>
            </li>
        </ol>
        <ng-template #emptyPositions>
            <div>Нет позиций</div>
        </ng-template>
    </div>
    <form ction="#" [formGroup]="reactivePosition" (submit)="SubmitCreatePosition()">
        <div class="add">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Наименование" maxlength="255" autocomplete="off" required type="text" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="cnt" placeholder="Кол-во" maxlength="255" autocomplete="off" required type="number" name="cnt">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="unit" placeholder="Ед." maxlength="45" autocomplete="off" required type="text" name="unit">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="price" placeholder="Цена" autocomplete="off" required type="number" name="price">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="delivery" placeholder="Срок" maxlength="45" autocomplete="off" type="text" name="delivery">
            </mat-form-field>
            <button mat-mini-fab><mat-icon>add</mat-icon></button>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="reactiveForm.invalid" mat-raised-button color="primary" (click)="Submit()">Сохранить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Закрыть</button>
</mat-dialog-actions>