:host > div {
    padding: 20px;
    margin-top:10px;
    box-shadow:0px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.descript_grid {
    display:grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
}

.title {
    color:#757575;
}

.table {
    border-right:1px #eee solid;
    padding-right:10px;
    &:last-child {
        border-right: none;
    }
    > div {
        display: grid;
        grid-template-columns: 200px 1fr;
        padding:10px 0px;
        border-bottom: 1px #eee solid;
        position: relative;

        > div {
            position: relative;

            &.date {
                span {
                    position: relative;
                    top: -6px;
                    margin-left: 10px;
                }
            }
        }

        .table__cell__wrap {
            white-space:pre-wrap
        }

        &:last-child {
            border:none;
        }

        &.kp {
            grid-template-columns: 200px 250px 1fr;
            > .links {
                a {
                    position: absolute;
                    top:-9px;

                    &.update {
                        color:#2a7cba;
                        left:120px;
                    }
                    &.download {
                        left:0px;
                        color:#bb4800;

                        &.success {
                            color: #44a75f;
                        }
                    }

                    &:hover {
                        color:#333;
                    }

                    .mat-icon {
                        position:relative;
                        top:7px;
                    }

                    > span  {
                        padding-left:4px;
                        font-size:0.9em;
                    }
                }
            }

            > .sum {
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.edit {
    margin-top:20px;

    button {
        margin-right:20px;
        &:last-child {
            margin-right:0px;
        }
    }

    a.goto {
        color: #2a7cba;
        font-size:12px;
        &:hover {
            color:#333;
        }

        span {
            display:inline-block;
            margin-left:6px;
        }
        .mat-icon {
            top: 8px;
            position: relative;
        }
    }
}

.files {
    margin-top:20px;
    position: relative;

    label {
        cursor: pointer;
        display: inline-block;
        margin-top: -2px;
        color: #2a7cba;

        &:hover {
            color:#333;
        }

        span {
            position:relative;
            font-size:12px;
            top:-8px;
            padding-left:6px;
        }
    }
    input[type="file"] {
        display:none;
    }

    .form_files {
        border:1px #eeeeef solid;
        padding:8px 20px 20px 20px;
        background-color: #f9f9f9;

        form {
            > div {
                display: grid;
                grid-template-columns: 180px 1fr;

                h4 {
                    margin:0px;
                    padding:0px;
                    font-weight: normal;
                }
            }
        }

        ul {
            list-style:none;
            margin:0px;
            padding:0px;
            display:flex;
            flex-wrap:wrap;

            li {
                position:relative;

                a.file {
                    .mat-icon {
                        top: 7px;
                        position: relative;
                        color: #2a7cba;
                    }

                    padding:6px 36px 6px 0px;
                    margin:2px;
                    text-decoration: none;
                    color:#297cb9;

                    &:hover {
                        color:#333;
                    }
                }

                a.delete {
                    display:none;
                    position: absolute;
                    top:5px;
                    right:0px;
                    padding:2px 6px;
                    bottom:0px;
                    background-color: #f9f9f9;
                    color: #f44336;
                    &:hover {
                        color:#333;
                    }
                }

                &:hover {
                    a.delete {
                        display:inline;
                    }
                }
            }
        }
    }
}