<div>
    <div class="descript_grid">
        <div class="table">
            <div>
                <div class="title">Название</div>
                <div class="table__cell__wrap">{{ model.name }}</div>
            </div>
            <div *ngIf="model.winner">
                <div class="title">Победитель</div>
                <div class="table__cell__wrap">{{ model.winner }}</div>
            </div>
            <div *ngIf="model.contacts">
                <div class="title">Контакты</div>
                <div class="table__cell__wrap">{{ model.contacts }}</div>
            </div>
            <div *ngIf="model.date_end_auctions != null">
                <div class="title">Дата завершения аукциона</div>
                <div class="date">
                    <mat-icon>alarm_on</mat-icon>
                    <span>{{ model.date_end_auctions | date:'dd MMMM yyyy' }}</span>
                </div>
            </div>
            <div *ngIf="model.date_review != null">
                <div class="title">Дата подведения итогов</div>
                <div class="date">
                    <mat-icon>insert_chart_outlined</mat-icon>
                    <span>{{ model.date_review | date:'dd MMMM yyyy' }}</span>
                </div>
            </div>
            <div class="kp">
                <div class="title">Коммерческое предложение</div>
                <div class="links">
                    <a href="#" (click)="ShowFormKP()" class="update"><mat-icon>edit</mat-icon><span>изменить</span></a>
                    <a href="/api/lot/downloadkp/?lot_id={{ model.id }}" class="download" [ngClass]="{'success' : model.KpSuccess()}"><mat-icon>description</mat-icon><span>Скачать</span></a>
                </div>
                <div class="sum">
                    <span>{{ model.sum | number }} <span>&#8381;</span></span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="title">Примечание</div>
                <div class="table__cell__wrap">{{ model.comment ? model.comment : '&mdash;' }}</div>
            </div>
        </div>
    </div>
    <div class="files">
        <div class="form_files">
            <form action="#" method="POST">
                <div>
                    <h4>Прикреплённые файлы</h4>
                    <input id="select_file_{{ model.id }}" (change)="SubmitFileUpload($event)" type="file" multiple name="file" />
                    <label for="select_file_{{ model.id }}">
                        <mat-icon>add</mat-icon>
                        <span>Добавить...</span>
                    </label>
                </div>
            </form>
            <ul *ngIf="files.length > 0; else noFiles">
                <li *ngFor="let f of files">
                    <a class="file" href="/api/download/{{ f.id }}"><mat-icon>attach_file</mat-icon> {{ f.name }}</a>
                    <a class="delete" (click)="ClickDeleteFile(f)" href="#"><mat-icon>delete</mat-icon></a>
                </li>
            </ul>
            <ng-template #noFiles><div>Файлов нет</div></ng-template>
        </div>
    </div>
    <div class="edit">
        <button mat-raised-button color="primary" (click)="ShowFormUpdate()"><mat-icon>edit</mat-icon> изменить</button>
        <a class="goto" target="_blank" *ngIf="model.url !== null" href="{{ model.url }}"><mat-icon>link</mat-icon><span>Перейти на аукцион</span></a>
        <div class="right">
            <button *ngIf="!confirm" mat-mini-fab color="warn" (click)="Confirm(true)"><mat-icon>delete</mat-icon></button>
            <div class="confirm" *ngIf="confirm">
                <span [ngSwitch]="model.stage">
                    <span *ngSwitchCase="'failed'">Удалить безвозвратно?</span>
                    <span *ngSwitchDefault>Переместить в архив?</span>
                </span>
                <button mat-raised-button color="warn" (click)="Delete()">Да</button>
                <button mat-button (click)="Confirm(false)">Отмена</button>
            </div>
        </div>
    </div>
</div>