:host {
    display:grid;
    width:100%;
    height:100%;
    grid-template-rows: 60px 1fr;
    box-sizing: border-box;
    font-size:14px;

    .spinner {
        position: absolute;
        top:40%;
        left:50%;
    }

    header {
        display:block;
        width:100%;
        height:100%;
        position:relative;
        box-sizing: border-box;
        padding:20px;
        box-shadow: 0px 5px 12px rgba(0,0,0,0.2);

        #create {
            position: absolute;
            top:12px;
            left: 20px;
        }

        #filter {
            position: absolute;
            top: 8px;
            left: 258px;
            height: 40px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 40px;

            form {
                display: grid;
                grid-template-columns: 149px 130px 140px;
                grid-gap: 20px;
            }

            #clear_filter {
                padding-top:4px;
            }
        }

        #ws_status {
            position: absolute;
            top: 17px;
            right: 10px;
            display: inline-block;
            color:#ef5656;
            
            .ok {
                color:#44a75f;
            }
        }
    }

    #content {
        min-height: 300px;
        overflow: auto;
        padding: 10px;
        box-sizing: border-box;
        background-color: #191B23;
        color: #e0e0e0;

        #block_sort {
            padding: 10px 0px;
            margin: 0 0 10px 8px;

            tr {
                display:grid;
                grid-template-columns: 237px 83px 85px 150px 1fr 185px 160px 153px;
            }
        }

        .empty {
            padding:20px;
            .material-icons {
                font-size:4em;
            }

            span {
                padding:0px 0px 0px 60px;
            }
            a {
                color:#fff;
            }
        }

        .mat-expansion-panel {
            background-color: #f7f7f7;
        }
    }

    .mat-expansion-panel-header {
        padding:0px 10px;
    }

    .mat-expansion-panel-header-title {
        flex-grow: unset;
        width: 222px;
        min-width: 222px;
        display: grid;
        font-size: 0.9em;
        grid-template-columns: 32px 1fr;

        .mat-icon {
            margin-top:4px;
            color: #dcdcdc;
            &.on {
                color:#ff7731;
            }
        }

        span {
            padding-top: 8px;
            display: inline-block;
        }
    }

    .mat-expansion-panel-header-description > div {
        width:100%;
        display:grid;
        grid-template-columns: 80px 90px 150px 1fr 80px 100px 130px 60px 160px 120px;

        > div {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            font-size: 0.9em;
        }

        .region {
            > span {
                position:relative;
                display:block;

                > span {
                    position: absolute;
                    font-size: 12px;
                    top: 6px;
                    left: 26px;
                    color: #a9a9a9;
                }
            }
        }
        .manufacturer {
            font-size:12px;
            span {
                position: absolute;
                top: 7px;
            }
        }
        .dates {
            font-size:12px;
            div {
                position: absolute;
                top: 4px;
                span {
                    display: inline-block;
                    top: 2px;
                    position: absolute;
                    width: 92px;
                    padding-left: 6px;
                }
            }

            &.actual {
                color:#44a75f;
            }
        }
        .customer {
            span {
                position: absolute;
                top: 4px;
            }
        }
        .icons {
            display:flex;
            > div {
                position: relative;
                top:4px;

                &.files_cnt {
                    color:#ef5656;
                }
            }
        }
        .sum {
            > span {
                position: relative;
                top:4px;
            }
        }
        .kp {
            position:relative;
            margin-top: 2px;
            color: #a9a9a9;

            &.success {
                color:#44a75f;
            }

            > span {
                > span {
                    position: absolute;
                    font-size: 12px;
                    top: 5px;
                    left: 30px;
                }
            }
        }

        .win {
            color:#44a75f;
            text-align: center;
        }
        .stage {
            span {
                display: block;
                margin-top:5px;
                font-size:12px;

                &.stage__failed {
                    color:#ef5656;
                }
            }
        }

        .date_change_stage {
            font-size:12px;
            text-align: center;
            span {
                display:inline-block;
                margin-top:5px;
                border-bottom:1px currentColor dotted;
            }
        }

        .mat-icon.home_prim {
            color:#44a75f;
        }
        .mat-icon.home_dv {
            color:#558ecc;
        }
        .mat-icon.home_dvsib {
            color:#7d72b3;
        }

        .mat-icon.dv {
            color:#d861b1;
        }
        .mat-icon.sib {
            color:#ff7731;
        }
        .mat-icon.west {
            color:#ef5656;
        }

        span {
            padding-top: 3px;
            display: inline-block;
        }
    }

}