<header>
    <div id="create">
        <button mat-button color="primary" (click)="ShowDialogCreateLot()"><mat-icon>add</mat-icon> Добавить</button>
    </div>
    <div id="filter">
        <form action="#">
            <div id="region">
                <mat-form-field class="full_width">
                    <mat-select placeholder="Регион" name="region" (selectionChange)="ChangeFilter()" [(ngModel)]="filter_region">
                        <mat-option class="all" value="">Все</mat-option>
                        <mat-option class="home_prim" value="home_prim">Домашний: Приморье</mat-option>
                        <mat-option class="home_dv" value="home_dv">Домашний: ДВ</mat-option>
                        <mat-option class="home_dvsib" value="home_dvsib">Домашний: ДВ + Сиб</mat-option>
                        <mat-option class="dv" value="dv">Чужой: ДВ</mat-option>
                        <mat-option class="sib" value="sib">Чужой: Сиб</mat-option>
                        <mat-option class="west" value="west">Чужой: Запад</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div id="manufacturer">
                <mat-form-field class="full_width">
                    <mat-select placeholder="Производитель" name="manufacturer" (selectionChange)="ChangeFilter()" [(ngModel)]="filter_manufacturer">
                        <mat-option value="">Все</mat-option>
                        <mat-option *ngFor="let m of manufactures" value="{{ m }}">{{ m }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div id="stage">
                <mat-form-field class="full_width">
                    <mat-select placeholder="Этап" name="stage" (selectionChange)="ChangeFilter()" [(ngModel)]="filter_stage">
                        <mat-option value="">Все</mat-option>
                        <mat-option value="new">Новый</mat-option>
                        <mat-option value="winner">Победитель известен</mat-option>
                        <mat-option value="sent_kp">КП отправлено</mat-option>
                        <mat-option value="call">Звонок</mat-option>
                        <mat-option value="apply">Согласие</mat-option>
                        <mat-option value="contract">Счёт-договор</mat-option>
                        <mat-option value="payment">Предоплата</mat-option>
                        <mat-option value="placing_orders">Размещение заказа</mat-option>
                        <mat-option value="delivered">Поставлено</mat-option>
                        <mat-option value="finish">Выполнено</mat-option>
                        <mat-option class="stage__failed" value="failed">Отказ</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div id="clear_filter">
            <button mat-button *ngIf="filter_region || filter_stage" matSuffix mat-icon-button aria-label="Очистить" (click)="ResetFilter()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div id="ws_status">
        <mat-icon *ngIf="!ws_ok; else wsOK">signal_cellular_connected_no_internet_4_bar</mat-icon>
        <ng-template #wsOK><mat-icon class="ok">signal_cellular_4_bar</mat-icon></ng-template>
    </div>
</header>
<div id="content">
    <div id="block_sort">
        <table matSort [matSortActive]="order.active" [matSortDirection]="order.direction" (matSortChange)="SortData($event)" class="full_width">
            <tr>
                <th mat-sort-header="number">Номер лота</th>
                <th mat-sort-header="region">Регион</th>
                <th mat-sort-header="kp_stage" disabled="true">КП</th>
                <th mat-sort-header="manufacturer">Производитель</th>
                <th mat-sort-header="customer">Заказчик</th>
                <th mat-sort-header="date">Рассмотрение</th>
                <th mat-sort-header="stage">Этап</th>
                <th mat-sort-header="stage_change">Этап изменён</th>
            </tr>
        </table>
    </div>
    <mat-accordion displayMode="flat" *ngIf="!is_sync && list.length > 0; else emptyLost">
        <mat-expansion-panel [hideToggle]="true" *ngFor="let lot of list">
            <mat-expansion-panel-header expandedHeight="58px" collapsedHeight="58px">
                <mat-panel-title>
                    <mat-icon [ngClass]="{'on' : lot.favorite=='Y'}" *ngIf="lot.favorite=='Y'; else defaultFavorite">star</mat-icon>
                    <span>№ {{ lot.number }}</span>
                </mat-panel-title>
                <mat-panel-description>
                    <div>
                        <div class="region" [ngSwitch]="lot.region">
                            <span *ngSwitchCase="'home_prim'">
                                <mat-icon class="home_prim">home</mat-icon>
                                <span>Прим</span>
                            </span>
                            <span *ngSwitchCase="'home_dv'">
                                <mat-icon class="home_dv">home</mat-icon>
                                <span>ДВ</span>
                            </span>
                            <span *ngSwitchCase="'home_dvsib'">
                                <mat-icon class="home_dvsib">home</mat-icon>
                                <span>ДВ-СИБ</span>
                            </span>
                            <span *ngSwitchCase="'dv'">
                                <mat-icon class="dv">map</mat-icon>
                                <span>ДВ</span>
                            </span>
                            <span *ngSwitchCase="'sib'">
                                <mat-icon class="sib">map</mat-icon>
                                <span>СИБ</span>
                            </span>
                            <span *ngSwitchCase="'west'">
                                <mat-icon class="west">map</mat-icon>
                                <span>Запад</span>
                            </span>
                        </div>
                        <div>
                            <div class="kp" [ngClass]="{'success' : lot.KpSuccess()}" >
                                <span>
                                    <mat-icon>description</mat-icon>
                                    <span class="title">КП {{lot.id}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="manufacturer"><span>{{ lot.manufacturer }}</span></div>
                        <div class="customer"><span>{{ lot.customer }}</span></div>
                        <div class="icons">
                            <div *ngIf="lot.comment">
                                <mat-icon class="comments">comment</mat-icon>
                            </div>
                            <div class="files_cnt" *ngIf="lot.files_cnt == 0">
                                <mat-icon class="files_cnt__empty">attach_file</mat-icon>
                            </div>
                        </div>
                        <div class="sum">
                            <span *ngIf="lot.sum > 0">{{ lot.sum | number }} &#8381;</span>
                        </div>
                        <div class="dates" [ngClass]="{'actual' : lot.IsDateActual()}">
                            <div *ngIf="lot.date_review != null; else dateEndAuctions" title="Дата окончания аукциона">
                                <mat-icon>insert_chart_outlined</mat-icon>
                                <span>{{ lot.date_review | date:'dd MMMM yyyy' }}</span>
                            </div>
                            <ng-template #dateEndAuctions>
                                <div *ngIf="lot.date_end_auctions != null" title="Дата рассмотрения заявок">
                                    <mat-icon>alarm_on</mat-icon>
                                    <span>{{ lot.date_end_auctions | date:'dd MMMM yyyy' }}</span>
                                </div>
                            </ng-template>
                        </div>
                        <div class="win">
                            <div *ngIf="lot.Winner()">
                                <mat-icon>flag</mat-icon>
                            </div>
                        </div>
                        <div class="stage" [ngSwitch]="lot.stage">
                            <span *ngSwitchCase="'new'">Новый</span>
                            <span *ngSwitchCase="'winner'">Победитель определён</span>
                            <span *ngSwitchCase="'sent_kp'">КП отправлено</span>
                            <span *ngSwitchCase="'sent_kp2'">КП отправлено повторно</span>
                            <span *ngSwitchCase="'call'">Звонок</span>
                            <span *ngSwitchCase="'apply'">Согласие</span>
                            <span *ngSwitchCase="'contract'">Счёт-договор</span>
                            <span *ngSwitchCase="'payment'">Предоплата</span>
                            <span *ngSwitchCase="'placing_orders'">Размещение заказа</span>
                            <span *ngSwitchCase="'delivered'">Поставлено</span>
                            <span *ngSwitchCase="'finish'">Выполнено!</span>
                            <span *ngSwitchCase="'failed'" class="stage__failed">Отказ</span>
                        </div>
                        <div class="date_change_stage" appSwitchStageDate [stage]="lot.stage" [date]="lot.date_stage_change">
                            <span></span>
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-lot-description [model]="lot"></app-lot-description>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator *ngIf="list.length > 0"
            [length]="total"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="changePaginator($event)">
    </mat-paginator>
    <ng-template #emptyLost>
        <p class="empty"><mat-icon>sentiment_dissatisfied</mat-icon> <span>Нет записей, но можно <a href="#" (click)="ShowDialogCreateLot()">добавить</a></span></p>
    </ng-template>
    <ng-template #defaultFavorite>
        <mat-icon>star_border</mat-icon>
    </ng-template>
</div>
<ng-template #tpl_spinner>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>