@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";

a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#333;
    width:100%;
    height:100%;
    margin:0px;
    padding: 0px;
}

.full_width {
    width:100%;
}

th[disabled] {
    font-weight: normal;
}

form > div.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.edit .confirm {
    display:inline-block;
}

.edit .confirm > span {
    display:inline-block;
    padding-right:20px;
}
.edit .right {
    float:right;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #297cb9;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon {
    top: 5px;
    position: relative;
    color: #959595;
}

.mat-option.stage__failed {
    background-color:#ef5656;
    color:#fff;
}

.mat-option.stage__failed:hover {
    background-color:#e63d3d;
}